# Database files
*.db

# Python compiled files
*.pyc
__pycache__/

# Logs
*.log

# Environment files
.env
.env.local
*.env.*

# Editors
.vscode/
.idea/

# Dependencies
.venv/
venv/
node_modules/

# Build artifacts
dist/
build/
target/

# Cache
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
coverage/